.app-shell {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
min-width: 100vw;

}
*, *::before, *::after {
  box-sizing: border-box;
}
